In [23]:
a=[]
type(a)

list

In [24]:
li = ["a","b","c","d"]

In [25]:
print(li)

['a', 'b', 'c', 'd']

In [26]:
li[0]

'a'

In [27]:
li[-1]

'd'

In [28]:
li[0:4]

['a', 'b', 'c', 'd']

In [29]:
li[-2]

'c'

In [30]:
li[0:]

['a', 'b', 'c', 'd']

In [31]:
li[1:]

['b', 'c', 'd']

In [32]:
li.append("E")

In [33]:
li

['a', 'b', 'c', 'd', 'E']

In [34]:
li.pop()            # to remove last element

'E'

In [35]:
li

['a', 'b', 'c', 'd']

In [36]:
li.pop(2)              # to remove nth element from last

'c'

In [37]:
li

['a', 'b', 'd']

In [38]:
new_li = li

In [39]:
new_li

['a', 'b', 'd']

In [40]:
new_li.append("F")

In [41]:
new_li

['a', 'b', 'd', 'F']

In [43]:
li                        #both are same since list are not mutable

['a', 'b', 'd', 'F']

In [44]:
id(new_li)

140614162513800

In [45]:
id(li)             # both have same ID

140614162513800

In [46]:
another_li = li[:]

In [47]:
id(another_li)               #this way we can copy a list

140614446516424

In [48]:
another_li

['a', 'b', 'd', 'F']

In [49]:
copy_li = li.copy()

In [50]:
copy_li

['a', 'b', 'd', 'F']

In [52]:
id(copy_li)

140614160580744

In [57]:
string = "Hey there my name is Bharat Sharma. Welcome."

In [58]:
words = string.split()
words

['Hey', 'there', 'my', 'name', 'is', 'Bharat', 'Sharma.', 'Welcome.']

In [64]:
len(words)

8

In [60]:
sent = string.split('.')
sent

['Hey there my name is Bharat Sharma', ' Welcome', '']

In [61]:
##### to join two strings

In [63]:
joined_sent = " --- ".join(sent)
joined_sent

'Hey there my name is Bharat Sharma ---  Welcome --- '

In [65]:
num=[0,1,2,3,4,5,6]
num[:]

[0, 1, 2, 3, 4, 5, 6]

In [67]:
num[1:3]

[1, 2]

In [70]:
num[0::2]        # jumping every two element

[0, 2, 4, 6]

In [71]:
print(sorted(num))

[0, 1, 2, 3, 4, 5, 6]

In [72]:
max(num)

6

In [73]:
min(num)

0